<footer class="footer bg-light py-5 mt-auto">
    <!-- mt-auto moves footer to the bottom; see also boilerplate file - body flex, column -->
    <div class="container">
        <span>Campground 2024</span>
    </div>
</footer>